<form action="/services/extra" method="POST" class="modal" style="position: absolute; z-index: 3;">
	<span class="close" id="cross3" onclick="formFunction(false)">&times;</span>
	<heading>Add article here!</heading>
	<input type="text" name="topic" placeholder="Topic" required/>
	<input type="text" name="title" placeholder="Title" required/>
    <textarea name="markdown" class="w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" placeholder="Write/Paste here..." style="width: 14em; align-self: center;"></textarea>
	<input type="submit" value="Upload" style="background: #667EEA; color: floralwhite; cursor: pointer; margin-top: 1em;" />
</form>

<div class="container px-5 py-8 mx-auto">
	<div class="flex flex-col sm:flex-row sm:items-center items-start mx-auto"
		style="display: flex; align-items: center">
		<h1 class="text-3xl flex-grow sm:pr-16 font-medium title-font text-indigo-500">
			Blogs and URLs
		</h1>
		<button style="align-self: center;" onclick="formFunction(true)"
			class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">
			Add Article
		</button>
	</div>
</div>

<h1 class="text-xl" style="float: right;">+</h1>
<section class="container mx-auto text-gray-500 bg-gray-900 body-font overflow-hidden">
    <div class="px-5 py-10">
        <div class="-my-8">
            <% var i = 0 %>
            <% data.forEach(item=> { %>
                <% i++ %>
            <div class="py-8 flex flex-wrap md:flex-no-wrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="text-xl tracking-widest font-medium title-font text-white"><%=item.topic%></span>
                    <span class="mt-1 text-gray-600 text-2sm"><%= item.username%> - <%= item.createdAt.toDateString()%></span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-white title-font mb-2"><%= item.title%></h2>
                    <p class="leading-relaxed"><% if (item.markdown.split(' ').length < 40) { %>
                        <%= item.markdown%>
                    <% } else { %>
                        <%= item.markdown.split(' ').slice(0, 40).join(' ')%>. . .
                    <% } %>
                    </p>
                </div>
            </div>
                <% if(i < data.length) { %>
                    <div class="border-b-2 border-gray-800"></div>
                <% } %>
            <% }) %>
        </div>
    </div>
</section>

<style>
    .modal {
        width: 20em;
        height: 27em;
        background: #1a202c;
        border: 2px solid #ffffff;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .modal > heading {
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
        color: #667eea;
        font-weight: bold;
    }

	.modal > label {
		text-align: center;
		margin: 0.5em 0em 0.2em 0em;
		font-size: 1em;
		color: #667EEA;
	}

    .modal > span {
        text-align: right;
        margin-right: 1em;
        margin-top: -1em;
        font-size: 1.6em;
        font-weight: lighter;
        color: white;
    }

    .modal > span:hover {
        font-weight: bolder;
        cursor: default;
        transform: skew(-1deg, -1deg);
    }

    .modal > input {
        color: #667eea;
        font-size: 1em;
        padding: 5px;
        margin: 0 3em 1em 3em;
        border-radius: 5px;
    }

    .show-form {
        display: flex;
    }
</style>

<script>
	let form = document.querySelector('form')

	function formFunction(display) {
		if (display) form.classList.add('show-form')
		else form.classList.remove('show-form')
	}
</script>